<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bienvenido/a {{ nombre }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logOut()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="revisar-tab" data-bs-toggle="tab" href="#revisarHabitaciones" role="tab">Revisar Habitaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="revision-tab" data-bs-toggle="tab" href="#historialRevisiones" role="tab">Historial Revisiones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="revision-tab" data-bs-toggle="tab" href="#registroEmpleado" role="tab">Registro Empleado</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="crear-tab" data-bs-toggle="tab" href="#crearHabitaciones" role="tab">Crear Habitación</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="revisarHabitaciones" role="tabpanel">
      <form class="row g-3 my-3" (ngSubmit)="buscarHabitaciones()">
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="filtros.estadoHabitacion" name="estado" placeholder="Estado de la habitación">
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" [(ngModel)]="filtros.piso" name="piso" placeholder="Piso">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="filtros.nombreMucama" name="mucama" placeholder="Nombre de la mucama">
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" [(ngModel)]="filtros.numeroHabitacion" name="numero" placeholder="Número de habitación">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Buscar</button>
          <button type="button" class="btn btn-warning" (click)="limpiarFiltros()">Limpiar</button>
        </div>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>Número</th>
            <th>Piso</th>
            <th>Estado</th>
            <th>Mucama</th>
            <th>Cliente</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let habitacion of habitaciones">
            <td>{{ habitacion.numeroHabitacion }}</td>
            <td>{{ habitacion.piso }}</td>
            <td>{{ habitacion.estadoHabitacion }}</td>
            <td>{{ habitacion.nombreMucama }}</td>
            <td>{{ habitacion.clienteHospedado }}</td>
            <td><button class="btn btn-info">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="historialRevisiones" role="tabpanel">
      <!-- src/app/components/recepcionista/recepcionista.component.html -->
      <div class="container">
        <h2>Panel de Recepcionista</h2>
        <div class="filters">
          <input type="text" [(ngModel)]="nombreMucama" placeholder="Nombre de Mucama" class="form-control">
          <!-- inicio-recepcionista.component.html -->

          <input type="date" (change)="onFechaInicioChange($event)" [value]="fechaInicio | date:'yyyy-MM-dd'">
          <input type="date" (change)="onFechaFinChange($event)" [value]="fechaFin | date:'yyyy-MM-dd'">
          <button (click)="cargarRevisiones()">Filtrar Revisiones</button>

          <table class="table">
            <thead>
              <tr>
                <th>Número de Habitación</th>
                <th>Piso</th>
                <th>Estado General</th>
                <th>Fecha</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let revision of revisiones">
                <td>{{ revision.numeroHabitacion }}</td>
                <td>{{ revision.pisoHabitacion }}</td>
                <td>{{ revision.estadoGeneral }}</td>
                <td>{{ revision.fecha | date: 'mediumDate' }}</td>
                <td><button class="btn btn-info">Ver Detalles</button></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    </div>
    <div class="tab-pane fade" id="registroEmpleado" role="tabpanel">
      <div class="container mt-3">
        <div class="card">
          <div class="card-header">
            <h3>Registro de Empleado</h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="registrarEmpleado()">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="empleado.email" name="email" required>
              </div>
              <div class="mb-3">
                <label for="contrasenia" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="contrasenia" [(ngModel)]="empleado.contrasenia" name="contrasenia" required>
              </div>
              <div class="mb-3">
                <label for="rol" class="form-label">Rol</label>
                <select class="form-control" id="rol" [(ngModel)]="empleado.rol" name="rol">
                  <option value="recepcionista">Recepcionista</option>
                  <option value="administrador">Administrador</option>
                  <!-- Agregar más roles según sea necesario -->
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>    
    <div class="tab-pane fade" id="crearHabitaciones" role="tabpanel">
      <div class="container mt-3">
        <div class="card">
          <div class="card-header">
              <h3>Crear Nueva Habitación</h3>
          </div>
          <div class="card-body">
              <form (ngSubmit)="crearHabitacion()">
                  <div class="mb-3">
                      <label for="numero" class="form-label">Número de Habitación</label>
                      <input type="number" class="form-control" id="numero" [(ngModel)]="habitacion.numeroHabitacion" name="numero" required>
                  </div>
                  <div class="mb-3">
                      <label for="piso" class="form-label">Piso</label>
                      <input type="number" class="form-control" id="piso" [(ngModel)]="habitacion.piso" name="piso" required>
                  </div>
                  <div class="mb-3">
                      <label for="estado" class="form-label">Estado</label>
                      <select class="form-control" id="estado" [(ngModel)]="habitacion.estadoHabitacion" name="estado">
                          <option value="libre">Libre</option>
                          <option value="ocupada">Ocupada</option>
                          <option value="revisando">Revisando</option>
                      </select>
                  </div>
                  <div class="mb-3">
                      <label for="nombreMucama" class="form-label">Nombre de Mucama</label>
                      <input type="text" class="form-control" id="nombreMucama" [(ngModel)]="habitacion.nombreMucama" name="nombreMucama">
                  </div>
                  <div class="mb-3">
                      <label for="clienteHospedado" class="form-label">Cliente Hospedado</label>
                      <input type="text" class="form-control" id="clienteHospedado" [(ngModel)]="habitacion.clienteHospedado" name="clienteHospedado">
                  </div>
                  <div class="mb-3">
                      <h4>Sábanas</h4>
                      <select class="form-control" [(ngModel)]="habitacion.caracteristicas.sabanas.estado" name="estadoSabanas" style="margin-bottom: 10px;">
                          <option value="excelente">Excelente</option>
                          <option value="regular">Regular</option>
                          <option value="malo">Malo</option>
                      </select>
                      <input type="number" class="form-control" [(ngModel)]="habitacion.caracteristicas.sabanas.cantidad" name="cantidadSabanas" placeholder="Cantidad de Sábanas">
                  </div>
                  <div class="mb-3">
                      <h4>Toallas</h4>
                      <select class="form-control" id="estadoToallas" [(ngModel)]="habitacion.caracteristicas.toallas.estado" name="estadoToallas" style="margin-bottom: 10px;">
                          <option value="excelente">Excelente</option>
                          <option value="regular">Regular</option>
                          <option value="malo">Malo</option>
                      </select>
                      <input type="number" class="form-control" [(ngModel)]="habitacion.caracteristicas.toallas.cantidad" name="cantidadToallas" placeholder="Cantidad de Toallas">
                  </div>
                  <div class="mb-3">
                      <h4>Frigobar</h4>
                      <div *ngFor="let item of habitacion.caracteristicas.frigobar; let i = index">
                          <input type="text" class="form-control mb-2" [(ngModel)]="item.item" name="item{{i}}" placeholder="Item" style="margin-bottom: 10px;">
                          <input type="number" class="form-control mb-2" [(ngModel)]="item.cantidad" name="cantidad{{i}}" placeholder="Cantidad">
                      </div>
                      <button type="button" class="btn btn-secondary mb-3" (click)="agregarItemFrigobar()">Agregar Item</button>
                  </div>
                  <button type="submit" class="btn btn-primary">Crear Habitación</button>
              </form>
          </div>
      </div>      
      </div>
    </div>
    </div>
  </div>